{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="{% static 'css/404Style.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lines of Code | 404</title>
	</head>
	<body>
		<div class="notFound">
			<br></br><br></br><br></br><br></br>
			<div class="text">
				<p class="text-center">Te-ai rătăcit! Pagina dorită nu a fost găsită.</p>
			</div>
			<div><a href="index.html" class="button text-center">Pagina principală</a></div>
		</div>
	</body>
</html>
